<div class="large-banner-home" style="height: 200px;">
  <div>
    <h1 style="color: white">Add Your Power</h1>
  </div>
</div>

<div class="container new_form_container" style="margin-top: 15px">
<%= render 'form' %>

<%= link_to 'Back', powers_path, class: "btn back_link" %></p>
</div>

