  <footer class="footer">
    <div class="footer-power">
      <p><%= link_to "Contact us", powers_path %></p>
      <p><%= link_to "About us", profile_path %></p>
      <p><%= link_to "Our team", root_path %></p>
    </div>
    

    <div class="footer-social">
       <!-- Social Media -->
      <div class="links">
        <a href="#"><i class="fab fa-fw fa-facebook-f"></i></a>
        <a href="#"><i class="fab fa-fw fa-github"></i></a>
        <a href="#"><i class="fab fa-fw fa-twitter"></i></a>
        <a href="#"><i class="fab fa-fw fa-instagram"></i></a>
      </div>

      
      <!-- Copyright -->
      <div>
        <p id="copyright">Copyright &#169; 2020 PowerMeUp Canada, Inc. All right reserved</p>
      </div>
    </div>

</footer>
