<div>
  <h1>Pending Rental Approvals</h1>
  <% @pending_rentals.each do |rental| %>
    <%= render "rental_card", {rental: rental} %>
  <% end %>
</div>

<p><%= link_to 'Back to your profile', profile_path %></p>
