<h1> hero profile </h1>
<%=current_user.email%>
<%= current_user.full_name %>
<p> pending rental <%= @number_of_pending_rentals %></p>

<ul>
	<% current_user.powers.each do |power| %>
	    <li><%= power.name%></li>
	  	
	<% end %>
</ul>