<h1>Power Me Up</h1>

<h2>Top 10 rented Super Powers:</h2>

<ul>
  <%@top_powers.each do |top_power| %>
  <li>
    <% if top_power.photo.attached? %>
    <%= cl_image_tag top_power.photo.key, height: 300, width: 400, crop: :fill %>
    <% end %>
    <p><strong><%= top_power.name %></strong></p>
    <%= top_power.short_description %>
    <%= top_power.price %>$
  </li>
  <% end %>
</ul>
