.large-banner {
  background-image: url("https://assets1.ignimgs.com/2019/02/19/top100-superpowers-desktop-1550599790756.jpg");
  background-size: cover;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.small-banner {
  background-image: url("https://assets1.ignimgs.com/2019/02/19/top100-superpowers-desktop-1550599790756.jpg");
  background-size: cover;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;

}

#signup-btn {
  position: absolute;
  top: 20px;
  right: 20px;
}
