.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  margin: 0 auto;
  margin-bottom: 10px;
  text-align: center;
  background-color: #f1f1f1;
  display: right;
  border: none;
}

.card-title {
  position: absolute;
  top: 8px;
  left: 8px;
  background-color: rgba(252, 247, 229, 0.8);
  border-radius: 4px;
  padding: 2px 8px;
}

.row {
  width: 800px;
}

p {
  text-align: left;
}

.price {
  text-align: right;
}

#review {
  padding-left: 180px;
  margin: 10px;
}

.btn {
  border-radius: 50px;
  padding: 5 5px;
  margin-top: 20px;
}

.bigcard {
 margin-top: 80px;
 width: 600px;
 margin-left: 40px;
 background-color: white;
 position: relative;
 box-shadow: 0 0 30px rgba(0,0,0, 0.3);
 border-radius: 4px;
}

.card-pic {
  margin-bottom: 10px;
  img{
    width: 100%;
    object-fit: cover;
    border-radius: 4px 4px 0 0;
  }
}

#card-title {
  background-color: rgba(252, 247, 229, 0.8);
  display: inline;
  padding: 5px;
  border-radius: 5px;
  position: absolute;
  top: 15px;
  left: 10px;
}

.vertical-menu {
  width: 600px;
  height: 600px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.power-card {
  position: relative;
  margin: 12px 20px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.15);
  background: white;
  border-radius: 3px;
  padding-bottom: 16px;
  img{
    border-radius: 3px 3px 0 0;
  }
}

.carousel-power {
  img {
    width: 100%;
    object-fit: cover;
  }
}

.card-text {
  padding: 5px;
}

.power-card-container {
  display: flex;
  overflow-x: scroll;
}

.price-tag {
  position:absolute;
  bottom: 10px;
  right: 10px;
  background-color: rgba(180,180,180,0.20);
  padding: 2px 5px 2px 5px;
  border-radius: 3px;
  margin: 0;
  p {
    margin-bottom: 0;
  }
}

.price-tag-big-card {

  background-color: rgba(180,180,180,0.20);
  padding: 2px 5px 2px 5px;
  border-radius: 3px;
  margin: 0;
  p {
    margin-bottom: 0;
  }
}


.power-card-grid  {
  margin-top: 30px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  img {
    width: 100%;
    height: 220px;
    object-fit: cover;
    object-position: center;
  }

}


